* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald";
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* filter: brightness(0.5);   Работает на весь блок с контеном, надо использовать когда над ним ничего нету иначе контент так же будет затемнён*/
.main-header {
    padding-top: 192px;
    background-image: linear-gradient(rgba(64, 65, 73,0.9), rgba(64, 65, 73,0.9)), url(https://s0.rbk.ru/v6_top_pics/media/img/8/30/756659883010308.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header > h1 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 64px;
    max-width: 734px;
    text-align: center;
    margin: 0 auto 20px;
    line-height: 94.85px;
}

.main-header > h2{
    font-size: 400;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto 20px;
    text-align: center;
    max-width: 734px;
}

.medals {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    padding: 57px 0;
    gap: 30px;
}

.medals > * {
    flex-basis: 190px;
    /* width: 190px;  тоже подчиняеться но лучше вариант выше*/
}

.medals header {
    font-weight: 500;
    font-size: 72px;
    color: #F7654A;
    line-height: 100px;
    text-align: center;
}

.medals div:nth-child(2) {
    font-size: 500;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    line-height: 53px;
}

.medals div:last-child {
    text-align: center;
    color: #999;
    font-weight: 500;
    font-size: 18px;
}

.arena-wrapper > article > h4 {
    border-top: 6px solid orange;
    display: inline-block;
    padding-top: 100px;
}

.arena-wrapper {
    margin-top: 200px;
}

.arena-wrapper > h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #404149;
    text-align: center;
    margin-bottom: 60px;
}

.arena-cards {
    display: flex;
    gap: 30px;
}

/* лучше было сделать бэкграунд но если мы хотим кликать и потом js подрубить то имж норм */
/* width только когда нету других решений */
.arena-cards img {
    max-width: 100%;
}

.arena-cards h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #404149;
    margin: 66px 0 20px;
    position: relative;
}

/* 
.sale::after {
    content: 'sale';
    border:  1px solid red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: orange;
} 
благодаря псевдо элементу я могу тыкать его куда хочу в штмле*/

/* псевдо элемент(его как бы нету в штмле) типо он естьв но его нету 
бефор сын h4 так что он h4 не перекроет(псевдо ребёнок посути) */
.arena-cards h4::before {
    content: "";
    position: absolute;
    left: 0; /*иначе бефор не будет значть где мы */
    top: -15px;
    max-width: 55px;
    height: 6px;
    background-color: #F7654A;
}

/* .arena-cards h4::after {
    content: "after";
} */

.arena-cards p {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #999;
}

.projects-wrapper {
    background-color: #F7654A;
    color: #fff;
}

.projects-main {
    display: flex;
    padding: 30px;
}

.projects-main header h3 {
    font-size: 48px;
    line-height: 71px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.projects-main header h4 {
    font-size: 24px;
    line-height: 45px;
}

.projects-main button {
    width: 175px;
    height: 49px;
    font-size: 14px;
    line-height: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: #fff;
    text-transform: uppercase;
    margin-left: auto;
    align-self: center;
}

.projects-main button:hover {
    background-color: bisque;
}

@media screen and (max-width: 750px) {

    .main-header h1 {
        font-size: 24px;
        line-height: 34px;
        padding: 0 10px;
    }
    
    .main-header h2 {
        font-size: 16px;
        line-height: 26px;
    }

    .medals header {
        font-size: 30px;
        line-height: 35px;
    }

    .medals div:nth-child(2) {
        font-size: 24px;
        line-height: 30px;
    }

    .arena-wrapper {
        margin-top: 0;
    }

    .arena-cards {
        padding: 15px;
    }
}

@media screen and (max-width: 450px) {
    .medals {
        flex-wrap: wrap;
    }

    .arena-cards {
        flex-wrap: wrap;
    }

    .projects-main > button {
        margin-left: 0;
        flex-basis: 100%;
        margin-top: 20px;
    }
}